@import url(http://fonts.googleapis.com/css?family=Raleway:400,800);

@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic);

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 6em;
}

h2 {
  font-size: 2em;
  text-align: center;
  text-decoration: underline;
}

h3 {
  font-size: 1.2em;
  color: #f2b848;
  font-family: 'Gentium Book Basic', serif;
}

p {
  line-height: 150%;
  font-size: 1.2em;
}

header {
  margin: 0;
  text-align: center;
  border-top: 20px solid #f2b848;
}

.masthead {
  padding: 6em 0;
  background-image: url(https://unsplash.imgix.net/photo-1423683249427-8ca22bd873e0?q=75&fm=jpg&s=5e57c661d0f772ce269188a6f5325708);
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
}

.masthead-intro {
  margin-bottom: 0.1em;
  color: #f2b848;
  font-family: 'Gentium Book Basic', serif;
  font-size: 2em;
  text-shadow: 0px 2px #2c1b29;
}

.masthead-heading {
  margin-top: -0.2em;
  color: #f2b848;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-shadow: 0px 2px #2c1b29;
}

main {
  max-width: 60%;
  margin: 10% auto;
}

section {
  margin: 4em 0;
}

footer {
  text-align: center;
}

.content-footer {
  margin-top: 5em;
  padding: 4em 0;
  background-color: #f2b848;
}

.content-footer > p {
  color: white;
}

.content-footer a {
  color: #fff;
  font-weight: 800;
  text-decoration: none;
}

.social {
  padding: 0;
  list-style: none;
}

.social > li {
  display: inline-block;
  margin-right: 1em;
}

.sec {
    padding-right: 50px;
    padding-bottom: 0px;
    padding-left: 50px;
    text-align: center;
}

.project {
  text-align: center;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  color: #FF0000;
  text-decoration: underline;
  font-size: 120%;
}

.masthead-quote {
  color: white;
  font-size: 2em;
  text-shadow: 0px 2px #2c1b29;
}